<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.system.mapper.GoodsOutStockMapper">
    <select id="queryGoodsOutStock" resultType="com.common.system.entity.GoodsOutStock">
        select * from goods_outStock
    </select>
    <insert id="addGoodsOutStock">
        INSERT into goods_outStock(`local`,goodsType,goodsName,specifications,`status`,outStockType,nums,supplierName,pipelineNumber,remarks,operator,operatorTime)VALUES(
        #{local},#{goodsType},#{goodsName},#{specifications},'正常',#{outStockType},#{nums},#{supplierName},#{pipelineNumber},#{remarks},#{operator},SYSDATE())
    </insert>
    <select id="searchGoodsOutStock" resultType="com.common.system.entity.GoodsOutStock">
        select * from goods_outStock
        <where>
            <if test="local !=''">`local` = #{local}</if>
            <if test="supplierName !=''">and supplierName = #{supplierName}</if>
            <if test="goodsType !='' and goodsType !='请选择类别' and goodsType !='请选择类别请选择类别' and goodsType !='请选择类别请选择类别请选择类别' and goodsType !='请选择类别请选择类别请选择类别请选择类别'">and goodsType = #{goodsType}</if>
            <if test="goodsName !='' and goodsName !='请选择名称' and goodsName !='请选择名称请选择名称' and goodsName !='请选择名称请选择名称请选择名称' and goodsName !='请选择名称请选择名称请选择名称请选择名称'">and goodsName = #{goodsName}</if>
            <if test="specifications !=''and  specifications !='请选择规格'and specifications !='请选择规格请选择规格' and specifications !='请选择规格请选择规格请选择规格' and specifications !='请选择规格请选择规格请选择规格请选择规格'">and specifications = #{specifications}</if>
            <if test="startDate !=''">and operatorTime > #{startDate}</if>
            <if test="endDate !=''"> <![CDATA[
            and operatorTime<#{endDate}
            ]]></if>
            <!--<if test="statusArray != null">
                status In
                <foreach collection="statusArray" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>-->
        </where>
        ORDER BY id
    </select>
</mapper>
