<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.system.mapper.ProductOrderMapper">

    <select id="queryProductOrder" resultType="com.common.system.entity.ProductOrder">
        select * from product_order  ORDER BY id desc
    </select>
    <insert id="addProductOrder">
INSERT into product_order(productNum,alarmSquare,`charMethod`,`controlMainboardName` ,controlMainboardSpecifications , `controlMainboardSupplier` ,disconnectionCheck ,fourMainBoardName ,fourSpecifications ,fourSupplier ,`gasCheck` ,`goodsName`,intakeDirection ,`lowPressureCheck`,microleakageCheck,noContactCheck ,nums, overcurrentCheck ,overdrawAir , pressure ,pulseEquivalent , remarks,reservedAir , signalSource ,specifications , stopUseCheck ,telMainBoardName , telMainBoardSpecifications ,telMainBoardSupplier ,telProtocol ,telType ,upperLimitOfRecharge ,valveCloseTime ,valveName,valveOpenTime ,valveSpecifications ,valveSupplier  ,version , operator ,operatorTime,`status`,orderType)VALUES(
#{productNum},#{alarmSquare},#{charMethod},#{controlMainboardName},#{controlMainboardSpecifications},#{controlMainboardSupplier},#{disconnectionCheck},#{fourMainBoardName},#{fourSpecifications},#{fourSupplier},#{gasCheck},#{goodsName},#{intakeDirection},#{lowPressureCheck},#{microleakageCheck},#{noContactCheck},#{nums},#{overcurrentCheck},#{overdrawAir},#{pressure},#{pulseEquivalent},#{remarks},#{reservedAir},#{signalSource},#{specifications},#{stopUseCheck},#{telMainBoardName},#{telMainBoardSpecifications},#{telMainBoardSupplier},#{telProtocol},#{telType},#{upperLimitOfRecharge},#{valveCloseTime},#{valveName},#{valveOpenTime},#{valveSpecifications},#{valveSupplier},#{version},#{operator},SYSDATE(),'待生产',#{orderType});
    </insert>
    <select id="queryNums" resultType="int">
        SELECT COUNT(*) FROM product_order where DATE_FORMAT(operatorTime,'%Y-%m-%d') = #{date}
    </select>
    <select id="queryByProductNum" resultType="com.common.system.entity.ProductOrder">
        select * from product_order where productNum=#{productNum}
    </select>
    <select id="queryById" resultType="com.common.system.entity.ProductOrder">
        select * from product_order where id=#{id}
    </select>
    <update id="delteProductOrder">
        update product_order set `status`='已删除' where id in
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <update id="updateStatus">
        update product_order set `status`='生产中' where productNum =#{productNum}
    </update>
    <update id="updateOver">
         update product_order set `status`='已完成' where productNum =#{productNum}
    </update>
    <select id="searchProductOrder" resultType="com.common.system.entity.ProductOrder">
        select * from product_order
        <where>
            <if test="productNum !=''">`productNum` = #{productNum}</if>
            <if test="goodsName !=''">and goodsName = #{goodsName}  </if>
            <if test="specifications !=''">and specifications = #{specifications}  </if>
            <if test="operator !=''">and operator = #{operator}  </if>
            <if test="status !=''">and `status` = #{status}  </if>
            <if test="startDate !=''">and operatorTime > #{startDate}</if>
            <if test="endDate !=''"> <![CDATA[
            and operatorTime<#{endDate}
            ]]></if>
        </where>
        ORDER BY id desc
    </select>
</mapper>
